body{
    background-color: antiquewhite;
    color: black
    }
    img{
        <center>
        width: 2000px;
        height: 600px;
         </center>
    }
    h1, h2, h3{
        text-align: center;
    }
