body{
    background-color: antiquewhite;
    color: black
    font-size:x-large
    }
    img{
        width: 2900px;
        height: 600px;
    }
    h1, h2, h3{
        text-align: center;
    }
    footer{
        background-color: azure
        color:black
        text-aling:center
    }
