body{
    background-color: antiquewhite;
    color: black
    font-size:x-large
    }
    img{
        <center>
        width: 1000px;
        height: 200px;
         </center>
    }
    h1, h2, h3{
        text-align: center;
    }
